<!DOCTYPE html>
<html>
  <head>
      </head>
  <body>





<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB13DSvYSxFIptwyDuFm4oqFuAeMJiLDmg&amp;callback=initMap">
</script>
<script type="text/javascript">
    //Array of JSON objects.
    var markers = [{
            "address": "Blessington Street",
            "number": "2",
            "contract_name": "Dublin",
            "name": "BLESSINGTON STREET",
            "bonus": "0",
            "position_lat": "53.356769",
            "position_lng": "-6.26814"
        },
        {
            "address": "Bolton Street",
            "number": "3",
            "contract_name": "Dublin",
            "name": "BOLTON STREET",
            "bonus": "0",
            "position_lat": "53.351182",
            "position_lng": "-6.269859"
        },
        {
            "address": "Greek Street",
            "number": "4",
            "contract_name": "Dublin",
            "name": "GREEK STREET",
            "bonus": "0",
            "position_lat": "53.346874",
            "position_lng": "-6.272976"
        },
        {
            "address": "Charlemont Street",
            "number": "5",
            "contract_name": "Dublin",
            "name": "CHARLEMONT PLACE",
            "bonus": "0",
            "position_lat": "53.330662",
            "position_lng": "-6.260177"
        },
        {
            "address": "Christchurch Place",
            "number": "6",
            "contract_name": "Dublin",
            "name": "CHRISTCHURCH PLACE",
            "bonus": "0",
            "position_lat": "53.343368",
            "position_lng": "-6.27012"
        },
        {
            "address": "High Street",
            "number": "7",
            "contract_name": "Dublin",
            "name": "HIGH STREET",
            "bonus": "0",
            "position_lat": "53.343565",
            "position_lng": "-6.275071"
        },
        {
            "address": "Custom House Quay",
            "number": "8",
            "contract_name": "Dublin",
            "name": "CUSTOM HOUSE QUAY",
            "bonus": "0",
            "position_lat": "53.347884",
            "position_lng": "-6.248048"
        },
        {
            "address": "Exchequer Street",
            "number": "9",
            "contract_name": "Dublin",
            "name": "EXCHEQUER STREET",
            "bonus": "0",
            "position_lat": "53.343034",
            "position_lng": "-6.263578"
        },
        {
            "address": "Dame Street",
            "number": "10",
            "contract_name": "Dublin",
            "name": "DAME STREET",
            "bonus": "0",
            "position_lat": "53.344007",
            "position_lng": "-6.266802"
        },
        {
            "address": "Earlsfort Terrace",
            "number": "11",
            "contract_name": "Dublin",
            "name": "EARLSFORT TERRACE",
            "bonus": "0",
            "position_lat": "53.334019",
            "position_lng": "-6.258371"
        },
        {
            "address": "Eccles Street",
            "number": "12",
            "contract_name": "Dublin",
            "name": "ECCLES STREET",
            "bonus": "0",
            "position_lat": "53.359246",
            "position_lng": "-6.269779"
        },
        {
            "address": "Fitzwilliam Square West",
            "number": "13",
            "contract_name": "Dublin",
            "name": "FITZWILLIAM SQUARE WEST",
            "bonus": "0",
            "position_lat": "53.336074",
            "position_lng": "-6.252825"
        },
        {
            "address": "Fownes Street Upper",
            "number": "14",
            "contract_name": "Dublin",
            "name": "FOWNES STREET UPPER",
            "bonus": "0",
            "position_lat": "53.344603",
            "position_lng": "-6.263371"
        },
        {
            "address": "Hardwicke Street",
            "number": "15",
            "contract_name": "Dublin",
            "name": "HARDWICKE STREET",
            "bonus": "0",
            "position_lat": "53.355473",
            "position_lng": "-6.264423"
        },
        {
            "address": "Georges Quay",
            "number": "16",
            "contract_name": "Dublin",
            "name": "GEORGES QUAY",
            "bonus": "0",
            "position_lat": "53.347508",
            "position_lng": "-6.252192"
        },
        {
            "address": "Golden Lane",
            "number": "17",
            "contract_name": "Dublin",
            "name": "GOLDEN LANE",
            "bonus": "0",
            "position_lat": "53.340803",
            "position_lng": "-6.267732"
        },
        {
            "address": "Grantham Street",
            "number": "18",
            "contract_name": "Dublin",
            "name": "GRANTHAM STREET",
            "bonus": "0",
            "position_lat": "53.334123",
            "position_lng": "-6.265436"
        },
        {
            "address": "Herbert Place",
            "number": "19",
            "contract_name": "Dublin",
            "name": "HERBERT PLACE",
            "bonus": "0",
            "position_lat": "53.334432",
            "position_lng": "-6.245575"
        },
        {
            "address": "Leinster Street South",
            "number": "21",
            "contract_name": "Dublin",
            "name": "LEINSTER STREET SOUTH",
            "bonus": "0",
            "position_lat": "53.34218",
            "position_lng": "-6.254485"
        },
        {
            "address": "Townsend Street",
            "number": "22",
            "contract_name": "Dublin",
            "name": "TOWNSEND STREET",
            "bonus": "0",
            "position_lat": "53.345922",
            "position_lng": "-6.254614"
        },
        {
            "address": "Custom House",
            "number": "23",
            "contract_name": "Dublin",
            "name": "CUSTOM HOUSE",
            "bonus": "0",
            "position_lat": "53.348279",
            "position_lng": "-6.254662"
        },
        {
            "address": "Cathal Brugha Street",
            "number": "24",
            "contract_name": "Dublin",
            "name": "CATHAL BRUGHA STREET",
            "bonus": "0",
            "position_lat": "53.352149",
            "position_lng": "-6.260533"
        },
        {
            "address": "Merrion Square East",
            "number": "25",
            "contract_name": "Dublin",
            "name": "MERRION SQUARE EAST",
            "bonus": "0",
            "position_lat": "53.339434",
            "position_lng": "-6.246548"
        },
        {
            "address": "Merrion Square West",
            "number": "26",
            "contract_name": "Dublin",
            "name": "MERRION SQUARE WEST",
            "bonus": "0",
            "position_lat": "53.339764",
            "position_lng": "-6.251988"
        },
        {
            "address": "Molesworth Street",
            "number": "27",
            "contract_name": "Dublin",
            "name": "MOLESWORTH STREET",
            "bonus": "0",
            "position_lat": "53.341288",
            "position_lng": "-6.258117"
        },
        {
            "address": "Mountjoy Square West",
            "number": "28",
            "contract_name": "Dublin",
            "name": "MOUNTJOY SQUARE WEST",
            "bonus": "0",
            "position_lat": "53.356299",
            "position_lng": "-6.258586"
        },
        {
            "address": "Ormond Quay Upper",
            "number": "29",
            "contract_name": "Dublin",
            "name": "ORMOND QUAY UPPER",
            "bonus": "0",
            "position_lat": "53.346057",
            "position_lng": "-6.268001"
        },
        {
            "address": "Parnell Square North",
            "number": "30",
            "contract_name": "Dublin",
            "name": "PARNELL SQUARE NORTH",
            "bonus": "0",
            "position_lat": "53.353462",
            "position_lng": "-6.265305"
        },
        {
            "address": "Parnell Street",
            "number": "31",
            "contract_name": "Dublin",
            "name": "PARNELL STREET",
            "bonus": "0",
            "position_lat": "53.350929",
            "position_lng": "-6.265125"
        },
        {
            "address": "Pearse Street",
            "number": "32",
            "contract_name": "Dublin",
            "name": "PEARSE STREET",
            "bonus": "0",
            "position_lat": "53.344304",
            "position_lng": "-6.250427"
        },
        {
            "address": "Princes Street / O'Connell Street",
            "number": "33",
            "contract_name": "Dublin",
            "name": "PRINCES STREET / O'CONNELL STREET",
            "bonus": "0",
            "position_lat": "53.349013",
            "position_lng": "-6.260311"
        },
        {
            "address": "Portobello Harbour",
            "number": "34",
            "contract_name": "Dublin",
            "name": "PORTOBELLO HARBOUR",
            "bonus": "0",
            "position_lat": "53.330362",
            "position_lng": "-6.265163"
        },
        {
            "address": "Smithfield",
            "number": "35",
            "contract_name": "Dublin",
            "name": "SMITHFIELD",
            "bonus": "0",
            "position_lat": "53.347692",
            "position_lng": "-6.278214"
        },
        {
            "address": "St. Stephen's Green East",
            "number": "36",
            "contract_name": "Dublin",
            "name": "ST. STEPHEN'S GREEN EAST",
            "bonus": "0",
            "position_lat": "53.337824",
            "position_lng": "-6.256035"
        },
        {
            "address": "St. Stephen's Green South",
            "number": "37",
            "contract_name": "Dublin",
            "name": "ST. STEPHEN'S GREEN SOUTH",
            "bonus": "0",
            "position_lat": "53.337494",
            "position_lng": "-6.26199"
        },
        {
            "address": "Talbot Street",
            "number": "38",
            "contract_name": "Dublin",
            "name": "TALBOT STREET",
            "bonus": "0",
            "position_lat": "53.350974",
            "position_lng": "-6.25294"
        },
        {
            "address": "Wilton Terrace",
            "number": "39",
            "contract_name": "Dublin",
            "name": "WILTON TERRACE",
            "bonus": "0",
            "position_lat": "53.332383",
            "position_lng": "-6.252717"
        },
        {
            "address": "Jervis Street",
            "number": "40",
            "contract_name": "Dublin",
            "name": "JERVIS STREET",
            "bonus": "0",
            "position_lat": "53.3483",
            "position_lng": "-6.266651"
        },
        {
            "address": "Harcourt Terrace",
            "number": "41",
            "contract_name": "Dublin",
            "name": "HARCOURT TERRACE",
            "bonus": "0",
            "position_lat": "53.332763",
            "position_lng": "-6.257942"
        },
        {
            "address": "Smithfield North",
            "number": "42",
            "contract_name": "Dublin",
            "name": "SMITHFIELD NORTH",
            "bonus": "0",
            "position_lat": "53.349562",
            "position_lng": "-6.278198"
        },
        {
            "address": "Portobello Road",
            "number": "43",
            "contract_name": "Dublin",
            "name": "PORTOBELLO ROAD",
            "bonus": "0",
            "position_lat": "53.330091",
            "position_lng": "-6.268044"
        },
        {
            "address": "Upper Sherrard Street",
            "number": "44",
            "contract_name": "Dublin",
            "name": "UPPER SHERRARD STREET",
            "bonus": "0",
            "position_lat": "53.358437",
            "position_lng": "-6.260641"
        },
        {
            "address": "Deverell Place",
            "number": "45",
            "contract_name": "Dublin",
            "name": "DEVERELL PLACE",
            "bonus": "0",
            "position_lat": "53.351464",
            "position_lng": "-6.255265"
        },
        {
            "address": "Strand Street Great",
            "number": "46",
            "contract_name": "Dublin",
            "name": "STRAND STREET GREAT",
            "bonus": "0",
            "position_lat": "53.347082",
            "position_lng": "-6.264192"
        },
        {
            "address": "Herbert Street",
            "number": "47",
            "contract_name": "Dublin",
            "name": "HERBERT STREET",
            "bonus": "0",
            "position_lat": "53.335742",
            "position_lng": "-6.24551"
        },
        {
            "address": "Excise Walk",
            "number": "48",
            "contract_name": "Dublin",
            "name": "EXCISE WALK",
            "bonus": "0",
            "position_lat": "53.347777",
            "position_lng": "-6.244239"
        },
        {
            "address": "Guild Street",
            "number": "49",
            "contract_name": "Dublin",
            "name": "GUILD STREET",
            "bonus": "0",
            "position_lat": "53.347932",
            "position_lng": "-6.240928"
        },
        {
            "address": "George's Lane",
            "number": "50",
            "contract_name": "Dublin",
            "name": "GEORGES LANE",
            "bonus": "0",
            "position_lat": "53.35023",
            "position_lng": "-6.279696"
        },
        {
            "address": "York Street West",
            "number": "51",
            "contract_name": "Dublin",
            "name": "YORK STREET WEST",
            "bonus": "0",
            "position_lat": "53.339334",
            "position_lng": "-6.264699"
        },
        {
            "address": "York Street East",
            "number": "52",
            "contract_name": "Dublin",
            "name": "YORK STREET EAST",
            "bonus": "0",
            "position_lat": "53.338755",
            "position_lng": "-6.262003"
        },
        {
            "address": "Newman House",
            "number": "53",
            "contract_name": "Dublin",
            "name": "NEWMAN HOUSE",
            "bonus": "0",
            "position_lat": "53.337132",
            "position_lng": "-6.26059"
        },
        {
            "address": "Clonmel Street",
            "number": "54",
            "contract_name": "Dublin",
            "name": "CLONMEL STREET",
            "bonus": "0",
            "position_lat": "53.336021",
            "position_lng": "-6.26298"
        },
        {
            "address": "Hatch Street",
            "number": "55",
            "contract_name": "Dublin",
            "name": "HATCH STREET",
            "bonus": "0",
            "position_lat": "53.33403",
            "position_lng": "-6.260714"
        },
        {
            "address": "Mount Street Lower",
            "number": "56",
            "contract_name": "Dublin",
            "name": "MOUNT STREET LOWER",
            "bonus": "0",
            "position_lat": "53.33796",
            "position_lng": "-6.24153"
        },
        {
            "address": "Grattan Street",
            "number": "57",
            "contract_name": "Dublin",
            "name": "GRATTAN STREET",
            "bonus": "0",
            "position_lat": "53.339629",
            "position_lng": "-6.243778"
        },
        {
            "address": "Sir Patrick's Dun",
            "number": "58",
            "contract_name": "Dublin",
            "name": "SIR PATRICK DUN'S",
            "bonus": "0",
            "position_lat": "53.339218",
            "position_lng": "-6.240642"
        },
        {
            "address": "Denmark Street Great",
            "number": "59",
            "contract_name": "Dublin",
            "name": "DENMARK STREET GREAT",
            "bonus": "0",
            "position_lat": "53.35561",
            "position_lng": "-6.261397"
        },
        {
            "address": "North Circular Road",
            "number": "60",
            "contract_name": "Dublin",
            "name": "NORTH CIRCULAR ROAD",
            "bonus": "0",
            "position_lat": "53.359624",
            "position_lng": "-6.260348"
        },
        {
            "address": "Hardwicke Place",
            "number": "61",
            "contract_name": "Dublin",
            "name": "HARDWICKE PLACE",
            "bonus": "0",
            "position_lat": "53.357043",
            "position_lng": "-6.263232"
        },
        {
            "address": "Lime Street",
            "number": "62",
            "contract_name": "Dublin",
            "name": "LIME STREET",
            "bonus": "0",
            "position_lat": "53.346026",
            "position_lng": "-6.243576"
        },
        {
            "address": "Fenian Street",
            "number": "63",
            "contract_name": "Dublin",
            "name": "FENIAN STREET",
            "bonus": "0",
            "position_lat": "53.341428",
            "position_lng": "-6.24672"
        },
        {
            "address": "Sandwith Street",
            "number": "64",
            "contract_name": "Dublin",
            "name": "SANDWITH STREET",
            "bonus": "0",
            "position_lat": "53.345203",
            "position_lng": "-6.247163"
        },
        {
            "address": "Convention Centre",
            "number": "65",
            "contract_name": "Dublin",
            "name": "CONVENTION CENTRE",
            "bonus": "0",
            "position_lat": "53.34744",
            "position_lng": "-6.238523"
        },
        {
            "address": "New Central Bank",
            "number": "66",
            "contract_name": "Dublin",
            "name": "NEW CENTRAL BANK",
            "bonus": "0",
            "position_lat": "53.347122",
            "position_lng": "-6.234749"
        },
        {
            "address": "The Point",
            "number": "67",
            "contract_name": "Dublin",
            "name": "THE POINT",
            "bonus": "0",
            "position_lat": "53.346867",
            "position_lng": "-6.230852"
        },
        {
            "address": "Hanover Quay",
            "number": "68",
            "contract_name": "Dublin",
            "name": "HANOVER QUAY",
            "bonus": "0",
            "position_lat": "53.344115",
            "position_lng": "-6.237153"
        },
        {
            "address": "Grand Canal Dock",
            "number": "69",
            "contract_name": "Dublin",
            "name": "GRAND CANAL DOCK",
            "bonus": "0",
            "position_lat": "53.342638",
            "position_lng": "-6.238695"
        },
        {
            "address": "Barrow Street",
            "number": "70",
            "contract_name": "Dublin",
            "name": "BARROW STREET",
            "bonus": "0",
            "position_lat": "53.341655",
            "position_lng": "-6.236198"
        },
        {
            "address": "Kevin Street",
            "number": "71",
            "contract_name": "Dublin",
            "name": "KEVIN STREET",
            "bonus": "0",
            "position_lat": "53.337757",
            "position_lng": "-6.267699"
        },
        {
            "address": "John Street West",
            "number": "72",
            "contract_name": "Dublin",
            "name": "JOHN STREET WEST",
            "bonus": "0",
            "position_lat": "53.343105",
            "position_lng": "-6.277167"
        },
        {
            "address": "Francis Street",
            "number": "73",
            "contract_name": "Dublin",
            "name": "FRANCIS STREET",
            "bonus": "0",
            "position_lat": "53.342081",
            "position_lng": "-6.275233"
        },
        {
            "address": "Oliver Bond Street",
            "number": "74",
            "contract_name": "Dublin",
            "name": "OLIVER BOND STREET",
            "bonus": "0",
            "position_lat": "53.343893",
            "position_lng": "-6.280531"
        },
        {
            "address": "James Street",
            "number": "75",
            "contract_name": "Dublin",
            "name": "JAMES STREET",
            "bonus": "0",
            "position_lat": "53.343456",
            "position_lng": "-6.287409"
        },
        {
            "address": "Market Street South",
            "number": "76",
            "contract_name": "Dublin",
            "name": "MARKET STREET SOUTH",
            "bonus": "0",
            "position_lat": "53.342296",
            "position_lng": "-6.287661"
        },
        {
            "address": "Wolfe Tone Street",
            "number": "77",
            "contract_name": "Dublin",
            "name": "WOLFE TONE STREET",
            "bonus": "0",
            "position_lat": "53.348875",
            "position_lng": "-6.267459"
        },
        {
            "address": "Mater Hospital",
            "number": "78",
            "contract_name": "Dublin",
            "name": "MATER HOSPITAL",
            "bonus": "0",
            "position_lat": "53.359967",
            "position_lng": "-6.264828"
        },
        {
            "address": "Eccles Street East",
            "number": "79",
            "contract_name": "Dublin",
            "name": "ECCLES STREET EAST",
            "bonus": "0",
            "position_lat": "53.358115",
            "position_lng": "-6.265601"
        },
        {
            "address": "St James Hospital (Luas)",
            "number": "80",
            "contract_name": "Dublin",
            "name": "ST JAMES HOSPITAL (LUAS)",
            "bonus": "0",
            "position_lat": "53.341359",
            "position_lng": "-6.292951"
        },
        {
            "address": "St. James Hospital (Central)",
            "number": "81",
            "contract_name": "Dublin",
            "name": "ST. JAMES HOSPITAL (CENTRAL)",
            "bonus": "0",
            "position_lat": "53.339983",
            "position_lng": "-6.295594"
        },
        {
            "address": "Mount Brown",
            "number": "82",
            "contract_name": "Dublin",
            "name": "MOUNT BROWN",
            "bonus": "0",
            "position_lat": "53.341645",
            "position_lng": "-6.29719"
        },
        {
            "address": "Emmet Road",
            "number": "83",
            "contract_name": "Dublin",
            "name": "EMMET ROAD",
            "bonus": "0",
            "position_lat": "53.340714",
            "position_lng": "-6.308191"
        },
        {
            "address": "Brookfield Road",
            "number": "84",
            "contract_name": "Dublin",
            "name": "BROOKFIELD ROAD",
            "bonus": "0",
            "position_lat": "53.339005",
            "position_lng": "-6.300217"
        },
        {
            "address": "Rothe Abbey",
            "number": "85",
            "contract_name": "Dublin",
            "name": "ROTHE ABBEY",
            "bonus": "0",
            "position_lat": "53.338776",
            "position_lng": "-6.30395"
        },
        {
            "address": "Parkgate Street",
            "number": "86",
            "contract_name": "Dublin",
            "name": "PARKGATE STREET",
            "bonus": "0",
            "position_lat": "53.347972",
            "position_lng": "-6.291804"
        },
        {
            "address": "Collins Barracks Museum",
            "number": "87",
            "contract_name": "Dublin",
            "name": "COLLINS BARRACKS MUSEUM",
            "bonus": "0",
            "position_lat": "53.347477",
            "position_lng": "-6.28525"
        },
        {
            "address": "Blackhall Place",
            "number": "88",
            "contract_name": "Dublin",
            "name": "BLACKHALL PLACE",
            "bonus": "0",
            "position_lat": "53.3488",
            "position_lng": "-6.281637"
        },
        {
            "address": "Fitzwilliam Square East",
            "number": "89",
            "contract_name": "Dublin",
            "name": "FITZWILLIAM SQUARE EAST",
            "bonus": "0",
            "position_lat": "53.335211",
            "position_lng": "-6.2509"
        },
        {
            "address": "Benson Street",
            "number": "90",
            "contract_name": "Dublin",
            "name": "BENSON STREET",
            "bonus": "0",
            "position_lat": "53.344153",
            "position_lng": "-6.233451"
        },
        {
            "address": "South Dock Road",
            "number": "91",
            "contract_name": "Dublin",
            "name": "SOUTH DOCK ROAD",
            "bonus": "0",
            "position_lat": "53.341833",
            "position_lng": "-6.231291"
        },
        {
            "address": "Heuston Bridge (North)",
            "number": "92",
            "contract_name": "Dublin",
            "name": "HEUSTON BRIDGE (NORTH)",
            "bonus": "0",
            "position_lat": "53.347802",
            "position_lng": "-6.292432"
        },
        {
            "address": "Heuston Station (Central)",
            "number": "93",
            "contract_name": "Dublin",
            "name": "HEUSTON STATION (CENTRAL)",
            "bonus": "0",
            "position_lat": "53.346603",
            "position_lng": "-6.296924"
        },
        {
            "address": "Heuston Station (Car Park)",
            "number": "94",
            "contract_name": "Dublin",
            "name": "HEUSTON STATION (CAR PARK)",
            "bonus": "0",
            "position_lat": "53.346985",
            "position_lng": "-6.297804"
        },
        {
            "address": "Royal Hospital",
            "number": "95",
            "contract_name": "Dublin",
            "name": "ROYAL HOSPITAL",
            "bonus": "0",
            "position_lat": "53.343897",
            "position_lng": "-6.29706"
        },
        {
            "address": "Kilmainham Lane",
            "number": "96",
            "contract_name": "Dublin",
            "name": "KILMAINHAM LANE",
            "bonus": "0",
            "position_lat": "53.341805",
            "position_lng": "-6.305085"
        },
        {
            "address": "Kilmainham Gaol",
            "number": "97",
            "contract_name": "Dublin",
            "name": "KILMAINHAM GAOL",
            "bonus": "0",
            "position_lat": "53.342113",
            "position_lng": "-6.310015"
        },
        {
            "address": "Frederick Street South",
            "number": "98",
            "contract_name": "Dublin",
            "name": "FREDERICK STREET SOUTH",
            "bonus": "0",
            "position_lat": "53.341515",
            "position_lng": "-6.256853"
        },
        {
            "address": "City Quay",
            "number": "99",
            "contract_name": "Dublin",
            "name": "CITY QUAY",
            "bonus": "0",
            "position_lat": "53.346637",
            "position_lng": "-6.246154"
        },
        {
            "address": "Heuston Bridge (South)",
            "number": "100",
            "contract_name": "Dublin",
            "name": "HEUSTON BRIDGE (SOUTH)",
            "bonus": "0",
            "position_lat": "53.347106",
            "position_lng": "-6.292041"
        },
        {
            "address": "King Street North",
            "number": "101",
            "contract_name": "Dublin",
            "name": "KING STREET NORTH",
            "bonus": "0",
            "position_lat": "53.350291",
            "position_lng": "-6.273507"
        },
        {
            "address": "Western Way",
            "number": "102",
            "contract_name": "Dublin",
            "name": "WESTERN WAY",
            "bonus": "0",
            "position_lat": "53.354929",
            "position_lng": "-6.269425"
        },
        {
            "address": "Grangegorman Lower (South)",
            "number": "103",
            "contract_name": "Dublin",
            "name": "GRANGEGORMAN LOWER (SOUTH)",
            "bonus": "0",
            "position_lat": "53.354663",
            "position_lng": "-6.278681"
        },
        {
            "address": "Grangegorman Lower (Central)",
            "number": "104",
            "contract_name": "Dublin",
            "name": "GRANGEGORMAN LOWER (CENTRAL)",
            "bonus": "0",
            "position_lat": "53.355173",
            "position_lng": "-6.278424"
        },
        {
            "address": "Grangegorman Lower (North)",
            "number": "105",
            "contract_name": "Dublin",
            "name": "GRANGEGORMAN LOWER (NORTH)",
            "bonus": "0",
            "position_lat": "53.355954",
            "position_lng": "-6.278378"
        },
        {
            "address": "Rathdown Road",
            "number": "106",
            "contract_name": "Dublin",
            "name": "RATHDOWN ROAD",
            "bonus": "0",
            "position_lat": "53.35893",
            "position_lng": "-6.280337"
        },
        {
            "address": "Charleville Road",
            "number": "107",
            "contract_name": "Dublin",
            "name": "CHARLEVILLE ROAD",
            "bonus": "0",
            "position_lat": "53.359157",
            "position_lng": "-6.281866"
        },
        {
            "address": "Avondale Road",
            "number": "108",
            "contract_name": "Dublin",
            "name": "AVONDALE ROAD",
            "bonus": "0",
            "position_lat": "53.359405",
            "position_lng": "-6.276142"
        },
        {
            "address": "Buckingham Street Lower",
            "number": "109",
            "contract_name": "Dublin",
            "name": "BUCKINGHAM STREET LOWER",
            "bonus": "0",
            "position_lat": "53.353331",
            "position_lng": "-6.249319"
        },
        {
            "address": "Phibsborough Road",
            "number": "110",
            "contract_name": "Dublin",
            "name": "PHIBSBOROUGH ROAD",
            "bonus": "0",
            "position_lat": "53.356307",
            "position_lng": "-6.273717"
        },
        {
            "address": "Mountjoy Square East",
            "number": "111",
            "contract_name": "Dublin",
            "name": "MOUNTJOY SQUARE EAST",
            "bonus": "0",
            "position_lat": "53.356717",
            "position_lng": "-6.256359"
        },
        {
            "address": "North Circular Road (O'Connell's)",
            "number": "112",
            "contract_name": "Dublin",
            "name": "NORTH CIRCULAR ROAD (O'CONNELL'S)",
            "bonus": "0",
            "position_lat": "53.357841",
            "position_lng": "-6.251557"
        },
        {
            "address": "Merrion Square South",
            "number": "113",
            "contract_name": "Dublin",
            "name": "MERRION SQUARE SOUTH",
            "bonus": "0",
            "position_lat": "53.338614",
            "position_lng": "-6.248606"
        },
        {
            "address": "Wilton Terrace (Park)",
            "number": "114",
            "contract_name": "Dublin",
            "name": "WILTON TERRACE (PARK)",
            "bonus": "0",
            "position_lat": "53.333653",
            "position_lng": "-6.248345"
        },
        {
            "address": "Killarney Street",
            "number": "115",
            "contract_name": "Dublin",
            "name": "KILLARNEY STREET",
            "bonus": "0",
            "position_lat": "53.354845",
            "position_lng": "-6.247579"
        },

    ];
    window.onload = function() {
        LoadMap();
    }

    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(53.346763, -6.2568436),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var latlngbounds = new google.maps.LatLngBounds();
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i]
            var myLatlng = new google.maps.LatLng(data.position_lat, data.position_lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
            });
            (function(marker, data) {
                google.maps.event.addListener(marker, "click", function(e) {
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + "Name: " + data.name + "<br>" + "Number: " + data.number + "<br>" + "Position: " + data.position_lat + ", " + data.position_lng + "<br>" + "Contract Name: " + data.contract_name + "<br>" + "Bonus: " + data.bonus + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
            latlngbounds.extend(marker.position);
        }
        var bounds = new google.maps.LatLngBounds();
        map.setCenter(latlngbounds.getCenter());
        map.fitBounds(latlngbounds);
    }
</script>
<div id="dvMap" style="width: 100%; height: 600px">
</div>
  </body>
</html> 