<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Map</title>
    <link rel="icon" href="data:;base64,=">
    <!-- cancel the request of favicon   -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/all.css')}}">
    <style>

html, body {height: 100%; padding: 0; margin: 0; border: 0px; overflow-y: hidden;} 
    
    
  
</style>
</head>


<body>


    <div id="dvMap" style="width: 75%; height: 100%; padding: 0; margin: 0; border: 0; float: right"> </div>
    <div id="menu" style="width: 25%; height: 100%; float: right; background-color: #3C3A3A">

        <div id="weather" style="width: 100%; height: 40%; color: white; background-color: #101010">
            <div style="text-align: center; width: 100%; height: 20%"><span id="station_location" style="font-size: 2em; color: yellow">Dublin</span></div>
            <div style="text-align: center; width: 50%; height: 80%; float: left">
                <div style="width: 100%; height: 20%; text-align: center">
                <span id="temperature" style="font-size:3em; text-align: center"></span>
                </div>
                <div style="width: 100%; height: 20%; text-align: center">
                <span id="description" style="font-size:1.8em; color: orangered; font-weight: 600"></span>
                </div>
                <div style="width: 100%; height: 30%; text-align: center">
                <br><img height="70%" ; width="35%" id="temperature_icon"><br>
                </div>
                <div style="width: 100%; height: 20%; text-align: center">
                <span style="font-weight: 600; color: cornflowerblue; font-size: 1.5em">Now</span>
                </div>
            </div>
            <div style="text-align: center; width: 50%; height: 80%; float: left">
                
                <div style="width: 100%; height: 10%">
                    <span id="humidity" style="font-size: 1em; width: 50%"></span></div>
                    <div style="width: 100%; height: 15%"><span id="wind_speed" style="font-size: 1em; width: 50%"></span>
                    </div>
                    <div style="width: 100%; height: 10%; text-align: center">
                    <span id="future_temperature" style="font-size:1.5em; text-align: center"></span>
                    </div>
                    <div style="width: 100%; height: 15%; text-align: center">
                    <span id="future_description" style="font-size:1em; color: orangered; font-weight: 600"></span>
                    </div>
                    <div style="width: 100%; height: 20%; text-align: center">
                    <img height="80%" ; width="25%" id="future_temperature_icon">
                    </div>
                    <div style="width: 100%; height: 15%; text-align: center">
                        <span style="font-size: 1.5em; color: cornflowerblue; font-weight: 600">In 2 hours</span>
                   </div>
                

            </div>
        </div>


        <div id="weekly" style="width: 100%; height: 30%"></div>
        <div id="hourly" style="width: 100%; height: 30%">
        </div>





    </div>

    <nav> <a href="" id="menuToggle" title="show menu"> <span class="navClosed"><i>show menu</i></span> </a> <a title="Overall" style="color: hotpink">Overall</a><a href="search" title="Search">Search</a> <a href="prediction" title="Prediction">Prediction</a> <a href="route" title="Route">Route</a> <a href="/" title="Home Page">Home Page</a> </nav>








    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFj_OVOzGe5xHdcq4CqpikFfrnk7AP1p8&amp;callback=initMap">
    </script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- canvas animation   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    <script type="text/javascript" src="{{url_for('static',filename='js/Map_JS.js')}}"></script>















</body>

</html>